# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Bntu\8semestr\Разработка WEB-приложений\Web-application-development-BNTU-BSU-PVT1level-training-course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
